# Shared API Configurations
GROQ_API_KEY=your_groq_api_key
SUPABASE_URL=https://your-project.supabase.co

# Frontend Website Public Token Key
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# Backend Node Server Secret Admin Key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

VITE_SUPABASE_URL=https://your-project.supabase.co
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key
VITE_GROQ_API_KEY=your_groq_api_key
VITE_RESEND_API_KEY=re_example
